@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Kalam:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.contaier h1{
    color: white;
    font-family: "kalam";
}

.contaier {
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 50px;
}

.contaier p{
    color: white;
    font-family: "Amita";
}

.sorry img{
    max-width: -webkit-fill-available;
    width: 280px;
    height: 280px;
}

/* From Uiverse.io by Navarog21 */ 
button {
    width: 32em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }

.personal-message{
    color: white;
    font-family: "kalam";
    font-size: 30px;
}

a {
    color: red;
    text-decoration: none;
}

.link{
    font-size: 20px;
}

#fade-images {
    list-style: none;
      list-style-type: none;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 100px;
  }

  body { 
    background: rgba(63, 81, 181) !important;
    font-family: 'Roboto', sans-serif;
  /*border: 2px solid #ffffffa6 !important;*/
  
  margin: 0 auto;
  margin-top: 7px;
  }
    
  .ccw_wishes {
    content: " ";
    background: url("https://createcustomwishes.com/animated-wishes/raksha-bandhan/img/bgsp.jpg") !important;
      background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-position: center center;
    background-color: rgba(69, 39, 160, 0.5) !important;
    background-color: rgba(63, 81, 181) !important;
  
  
  }
  
  .card  {
    transition: all .15s ease-in-out;
  }
  .card {
    position: relative;
   /* margin-bottom: 25px;*/
    border-radius: 2px;
    display: block;
    margin-top: -15px;
   /* overflow: hidden;*/
  }
  h1{ text-align: center; color: white; font-size: 30px;  }
  .rakhi-logo{ width: 100%; }
  
  .yourname{ text-align: center;  color: #fff33d;padding-top: 15px;}
  .msg{font-family: 'Edu NSW ACT Foundation', cursive; text-align: center; color: white; font-size: 23px; letter-spacing: 0.5px; padding: 10px 20px 0px 20px;}
  .ads-section {
    padding-bottom: 10px;
  }
  
  #fade-images {
    list-style: none;
      list-style-type: none;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 100px;
  }
  
  .tbox {
  background: #ffffffc9;
  padding: 2px 12px 16px 12px;
  border-radius: 5px 5px 0px 0px;
  margin: 0px 8px;
  }
  .backLink {
    background: #25d366c9;
    padding: 2px 12px 16px 12px;
      padding-top: 2px;
    border-radius: 5px;
    margin: 0px 8px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 15px;
    color: #fff;
  }
  a.backLink:hover{
    background: #ffffffc9;
    color: #333;
  }
  .textbk {
    border: none;
    height: 30px;
    padding: 5px 12px;
    font-size: 15px;
    border-radius: 5px;
    width: 60%;
  
  }
  .btn {
    width: 100px;
    height: 40px;
     border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    width: 30%;
  }
  
  .st-disclaimer, .st-logo {
    display: none;
  }
  .shareon{ text-align: center; }
  
  figure {
    animation: wobble 5s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  
  h2.naming {
    display: block;
    width: 100%;
    
    color: #fff;
  }
  
  h2.naming {
    /*animation: glow 10s ease-in-out infinite;*/
  }
   
   @keyframes wobble {
   0%,
   100% {
    transform:rotate3d(1,1,0,20deg)
   }
   25% {
    transform:rotate3d(-1,1,0,20deg)
   }
   50% {
    transform:rotate3d(-1,-1,0,20deg)
   }
   75% {
    transform:rotate3d(1,-1,0,20deg)
   }
  }
  h2.naming {
   animation:glow 10s ease-in-out infinite;
  }
  @keyframes glow {
   0%,
   100% {
    text-shadow:0 0 10px #c62828
   }
   25% {
    text-shadow:0 0 10px #ef6c00
   }
   50% {
    text-shadow:0 0 10px #2e7d32
   }
   75% {
    text-shadow:0 0 10px #4527a0
   }
  }
  h2.naming {
   /*! display:block; */width:100%;
   line-height:1.5;
   text-align:CENTER;
   /*! font:900 35px concert one,sans-serif; */position:absolute;
   color:#fff
  }
  h2.naming:nth-child(2) {
   transform:translateZ(5px)
  }
  h2.naming:nth-child(3) {
   transform:translateZ(10px)
  }
  
  .figures {
   position:relative;
   z-index:2;
   text-align:center;
   padding-bottom:13px
  }
  
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .center { text-align: center; }
  
  
  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #E2F3F4;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #FFFFFA;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. ðŸ–Œ */
  
   
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    margin: -5px auto;
  }
  
   .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #FFFFFF 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    font-size: 22px;
   
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  
  
  #svg-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 30s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 30s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 30s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  
   
  /* spinner positioning */
  #html-spinner, #svg-spinner{
    position:absolute;
    top:16%;
    margin-left:-35px;
    width: 45%;
    z-index: 0;
  }
  #svg-spinner{
    left:-20%; 
  }
  
  
  
  /* Media Query */
  
  @media (min-width: 1281px) {
    body { 
      border: 2px solid #ffffffa6 !important;
      width: 380px;
    }
  }
  
  /*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    body { 
      border: 2px solid #ffffffa6 !important;
      width: 380px;
    }
  }
  
  /*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px)  and (orientation: portrait) {
    body { 
      border: 2px solid #ffffffa6 !important;
      width: 380px;
    }
  }
  @media (min-width: 1024px) {
    body { 
      border: 2px solid #ffffffa6 !important;
      width: 1000px;
    }
  }
  
  .gboc{
    text-align: center;
    background: #ffffffc9;
  padding: 2px 12px 16px 12px;
  border-radius: 0px 0px 5px 5px;
  margin: 0px 8px;
  }
   