@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Kalam:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #7035c5;
    top: 85%;
    left: 63%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw 4vh;
    box-shadow: -4vmin 0 0.7791043498192054vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 27%;
    left: 31%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw -14vh;
    box-shadow: 4vmin 0 0.517638243875822vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 27%;
    left: 99%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw -24vh;
    box-shadow: 4vmin 0 1.320051357134406vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 62%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -19vh;
    box-shadow: 4vmin 0 1.020123220617325vmin currentColor;
}
.background span:nth-child(4) {
    color: #e02fd3;
    top: 24%;
    left: 34%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw 13vh;
    box-shadow: 4vmin 0 1.4423529602038576vmin currentColor;
}
.background span:nth-child(5) {
    color: #f4fbd8;
    top: 25%;
    left: 56%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw 2vh;
    box-shadow: 4vmin 0 1.0169681108822977vmin currentColor;
}
.background span:nth-child(6) {
    color: #f4fbd8;
    top: 41%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw -24vh;
    box-shadow: -4vmin 0 0.5213303144019255vmin currentColor;
}
.background span:nth-child(7) {
    color: #f4fbd8;
    top: 5%;
    left: 90%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw 2vh;
    box-shadow: -4vmin 0 0.8134423574348255vmin currentColor;
}
.background span:nth-child(8) {
    color: #1acbae;
    top: 56%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 5vw -2vh;
    box-shadow: -4vmin 0 1.373346114973517vmin currentColor;
}
.background span:nth-child(9) {
    color: #1acbae;
    top: 1%;
    left: 98%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -2vh;
    box-shadow: -4vmin 0 1.0894517648925515vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 46%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 23vh;
    box-shadow: 4vmin 0 0.7129038323308137vmin currentColor;
}
.background span:nth-child(11) {
    color: #e02fd3;
    top: 32%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -15vh;
    box-shadow: -4vmin 0 1.3772013091736637vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 45%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw 13vh;
    box-shadow: 4vmin 0 1.203708202056488vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 6%;
    left: 64%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw 17vh;
    box-shadow: -4vmin 0 0.9784492746593161vmin currentColor;
}
.background span:nth-child(14) {
    color: #7035c5;
    top: 14%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw -24vh;
    box-shadow: -4vmin 0 0.8811052573532967vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 7%;
    left: 16%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -9vh;
    box-shadow: 4vmin 0 1.138486248981246vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 65%;
    left: 91%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 19vh;
    box-shadow: -4vmin 0 1.3480530575189955vmin currentColor;
}
.background span:nth-child(17) {
    color: #f4fbd8;
    top: 5%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -3vw -16vh;
    box-shadow: 4vmin 0 0.5324290489051069vmin currentColor;
}
.background span:nth-child(18) {
    color: #7035c5;
    top: 99%;
    left: 81%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -16vh;
    box-shadow: -4vmin 0 0.5022408255274702vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 88%;
    left: 61%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw -8vh;
    box-shadow: 4vmin 0 1.1192702564471284vmin currentColor;
}
.background span:nth-child(20) {
    color: #e02fd3;
    top: 88%;
    left: 29%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -8vh;
    box-shadow: 4vmin 0 1.0075355011097686vmin currentColor;
}
.background span:nth-child(21) {
    color: #1acbae;
    top: 88%;
    left: 53%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 24vw -1vh;
    box-shadow: 4vmin 0 1.0154331925364972vmin currentColor;
}
.background span:nth-child(22) {
    color: #f4fbd8;
    top: 17%;
    left: 61%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -10vh;
    box-shadow: 4vmin 0 1.4201962826580614vmin currentColor;
}
.background span:nth-child(23) {
    color: #e02fd3;
    top: 5%;
    left: 48%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw -24vh;
    box-shadow: 4vmin 0 1.0475684579910183vmin currentColor;
}
.background span:nth-child(24) {
    color: #f4fbd8;
    top: 85%;
    left: 18%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw -17vh;
    box-shadow: 4vmin 0 0.6340736259129609vmin currentColor;
}
.background span:nth-child(25) {
    color: #e02fd3;
    top: 15%;
    left: 75%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 1vh;
    box-shadow: 4vmin 0 1.0167628862842029vmin currentColor;
}
.background span:nth-child(26) {
    color: #1acbae;
    top: 23%;
    left: 15%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 1vh;
    box-shadow: -4vmin 0 1.0626804514183272vmin currentColor;
}
.background span:nth-child(27) {
    color: #113165;
    top: 14%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw 8vh;
    box-shadow: -4vmin 0 1.3135749424880847vmin currentColor;
}
.background span:nth-child(28) {
    color: #113165;
    top: 12%;
    left: 58%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -2vh;
    box-shadow: -4vmin 0 0.9621218682251345vmin currentColor;
}
.background span:nth-child(29) {
    color: #e02fd3;
    top: 60%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 16vh;
    box-shadow: 4vmin 0 0.7611371439767389vmin currentColor;
}
.background span:nth-child(30) {
    color: #7035c5;
    top: 66%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw -2vh;
    box-shadow: 4vmin 0 0.8183707011125088vmin currentColor;
}
.background span:nth-child(31) {
    color: #1acbae;
    top: 70%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw -12vh;
    box-shadow: 4vmin 0 1.2139076290548565vmin currentColor;
}
.background span:nth-child(32) {
    color: #FFACAC;
    top: 13%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 3vh;
    box-shadow: -4vmin 0 0.5010317866165552vmin currentColor;
}
.background span:nth-child(33) {
    color: #e02fd3;
    top: 92%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw -20vh;
    box-shadow: -4vmin 0 0.7273327610202436vmin currentColor;
}
.background span:nth-child(34) {
    color: #E45A84;
    top: 60%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 22vh;
    box-shadow: 4vmin 0 1.3374286394867019vmin currentColor;
}
.background span:nth-child(35) {
    color: #E45A84;
    top: 38%;
    left: 13%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 1vw -15vh;
    box-shadow: 4vmin 0 1.0991471036614666vmin currentColor;
}
.background span:nth-child(36) {
    color: #e02fd3;
    top: 68%;
    left: 54%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -2vh;
    box-shadow: -4vmin 0 0.9313877997745816vmin currentColor;
}
.background span:nth-child(37) {
    color: #f4fbd8;
    top: 3%;
    left: 98%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 20vh;
    box-shadow: 4vmin 0 1.4348814112803794vmin currentColor;
}
.background span:nth-child(38) {
    color: #FFACAC;
    top: 53%;
    left: 24%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -14vh;
    box-shadow: 4vmin 0 1.242900935265159vmin currentColor;
}
.background span:nth-child(39) {
    color: #7035c5;
    top: 56%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 24vw -21vh;
    box-shadow: -4vmin 0 1.3894134878709277vmin currentColor;
}
.background span:nth-child(40) {
    color: #1acbae;
    top: 11%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -12vh;
    box-shadow: -4vmin 0 1.2055985757444139vmin currentColor;
}
.background span:nth-child(41) {
    color: #583C87;
    top: 2%;
    left: 3%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -18vw 12vh;
    box-shadow: 4vmin 0 0.5845946743556889vmin currentColor;
}
.background span:nth-child(42) {
    color: #E45A84;
    top: 36%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -5vw 0vh;
    box-shadow: 4vmin 0 0.998530553389239vmin currentColor;
}
.background span:nth-child(43) {
    color: #FFACAC;
    top: 20%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw 1vh;
    box-shadow: -4vmin 0 0.89906657221252vmin currentColor;
}
.background span:nth-child(44) {
    color: #7035c5;
    top: 41%;
    left: 59%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw -21vh;
    box-shadow: 4vmin 0 1.458934124384632vmin currentColor;
}
.background span:nth-child(45) {
    color: #f4fbd8;
    top: 96%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -19vh;
    box-shadow: -4vmin 0 0.8107801050480505vmin currentColor;
}
.background span:nth-child(46) {
    color: #113165;
    top: 89%;
    left: 89%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw 19vh;
    box-shadow: -4vmin 0 1.0487190690519672vmin currentColor;
}
.background span:nth-child(47) {
    color: #583C87;
    top: 69%;
    left: 35%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 5vh;
    box-shadow: 4vmin 0 1.072942561170723vmin currentColor;
}
.background span:nth-child(48) {
    color: #e02fd3;
    top: 21%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw -22vh;
    box-shadow: 4vmin 0 1.3089181463797577vmin currentColor;
}
.background span:nth-child(49) {
    color: #e02fd3;
    top: 88%;
    left: 52%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -23vw 6vh;
    box-shadow: 4vmin 0 0.7396555692101006vmin currentColor;
}

.contaier h1{
    color: white;
    font-family: "kalam";
}

.contaier {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.contaier h2{
    color: white;
    font-family: "Amita";
}

.sorry img{
    max-width: -webkit-fill-available;
    width: 280px;
    height: 280px;
}

/* From Uiverse.io by Navarog21 */ 
button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }

.personal-message{
    color: white;
    font-family: "kalam";
    font-size: 30px;
}